header {
    text-align: center; /* Centraliza o texto */
    font-family: 'Arial Narrow Bold', sans-serif; /* Define a fonte para o cabeçalho */
    color: #fff; /* Define a cor do texto como branco */
    padding: 20px; /* Espaçamento interno */
    
}

header h1 {
    font-size: 2.5vh; /*Deixa a fonte do texto de acordo com o tamanho da tela*/
    text-shadow: 1px 0px 4px rgb(0, 0, 0); /* Adiciona sombra ao texto */
    background-color: #ffffff75; /* Cor de fundo com transparência */
    border-radius: 10px; /* Arredonda os cantos */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.751); /* Adiciona sombra ao elemento */
}

header h2 {
    text-shadow: 1px 0px 4px rgb(0, 0, 0); /* Adiciona sombra ao texto */
    text-align: left; /* Alinha o texto à esquerda */
    padding-left: 3px; /* Espaçamento interno à esquerda */
    background-color: #ffffff75; /* Cor de fundo com transparência */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.751); /* Adiciona sombra ao elemento */
    border-radius: 10px; /* Arredonda os cantos */
    width: 150px; /* Largura fixa */
}

body {
    flex: 1; /* Ocupa o restante do espaço */
    padding-left: 280px; /* Espaçamento interno à esquerda */
    overflow-y: auto; /* Permite rolagem vertical */
    box-sizing: border-box; /* Inclui padding no cálculo do tamanho */
    background-image: url("./images/serra_do_roncador.png"); /* Imagem de fundo */
    background-attachment: fixed; /* Fixa a imagem durante a rolagem */
    background-size: cover; /* Cobre todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
}

.icone {
    filter: contrast(300%); /* Aumenta o contraste da imagem */
    height: 80px; /* Altura do ícone */
    width: 80px; /* Largura do ícone */
    display: flex; /* Usa flexbox para alinhar conteúdo */
    flex-direction: column; /* Alinha itens verticalmente */
    align-items: center; /* Centraliza itens horizontalmente */
    text-decoration: none; /* Remove sublinhado de links */
    color: white; /* Cor do texto */
    margin-top: 5px; /* Margem superior */
    text-align: center; /* Centraliza o texto */
    padding-left: 41px; /* Espaçamento interno à esquerda */
}

.barra-lateral {
    text-shadow: 1px 0px 4px rgb(0, 0, 0); /* Adiciona sombra ao texto */
    height: 100vh; /* Altura total da tela */
    width: 25vh; /* Largura da barra */
    background-color: #ffffff75; /* Cor de fundo com transparência */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Define a fonte */
    color: #fff; /* Cor do texto */
    position: fixed; /* Fixa no lado esquerdo da tela */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    display: flex; /* Usa flexbox para alinhar conteúdo */
    flex-direction: column; /* Alinha itens verticalmente */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Adiciona sombra à barra */
}

.barra-lateral a:hover {
    transform: translateZ(8px); /* Move o elemento no eixo Z */
    transition: 300ms; /* Transição suave */
    color: #ffffff; /* Cor do texto ao passar o mouse */
    padding-left: 10px; /* Espaçamento interno à esquerda */
}

.barra-lateral span {
    padding: 55px; /* Espaçamento interno */
    color: #ffffff; /* Cor do texto */
}

.grid-container {
    display: grid; /* Define um contêiner de grade */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Colunas responsivas */
    gap: 20px; /* Espaçamento entre os itens */
    padding: 20px; /* Espaçamento interno */
    max-width: 1200px; /* Largura máxima */
    margin: auto; /* Centraliza o contêiner */
}

.imagem {
    height: 98%; /* Altura da imagem */
    width: 99%; /* Largura da imagem */
    object-fit: cover; /* Cobre o contêiner sem distorção */
    padding-top: 1px; /* Espaçamento superior */
    padding-right: 0px; /* Espaçamento à direita */
    padding-bottom: 0px; /* Espaçamento inferior */
    border-radius: 10px; /* Arredonda os cantos */
}

.quadrado {
    background: #00e9e5f6; /* Cor de fundo */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 0px; /* Espaçamento interno */
    border-radius: 10px; /* Arredonda os cantos */
    height: 140px; /* Altura do quadrado */
    width: 190px; /* Largura do quadrado */
    overflow: hidden; /* Esconde conteúdo que ultrapassa */
    transition: 300ms; /* Transição suave */
}

.quadrado:hover {
    transform: translateY(-8px); /* Move o elemento para cima */
    box-shadow: 10px 10px rgba(255, 0, 0, 0.767); /* Adiciona sombra ao passar o mouse */
}


    